section {
  &.row {
    @include outer-container;
  }
  &.blog-entry {
    @include outer-container;
    padding-top: 3em;
    padding-bottom: 3em;
    &.left {
      & > article {
        @include span-columns(9);
        @include shift(1.5);
        @include media($large-screen) {
          @include shift(1);
          @include span-columns(7);
        }
      }
      & > aside {
        @include span-columns(9);
        @include shift(1.5);
        @include media($large-screen) {
          @include shift(0.5);
          @include span-columns(3);
        }
        li {
          border-bottom: 1px solid transparentize($action-color, 0.8);
          margin-right: $base-spacing;
          outline: none;
          padding: ($base-spacing / 2) 0;
          &:last-child {
            margin-bottom: $base-spacing;
          }
          a {
            color: $action-color;
            text-decoration: none;
          }
        }
      }
    }
    &.wide > article {
      @include span-columns(9);
      @include shift(1.5);
    }
  }
  &.blog-entries {
    @include outer-container;
    padding-top: 3em;
    padding-bottom: 3em;
    & > article {
      @include span-columns(10);
      @include shift(1);
      @include media($large-screen) {
        @include span-columns(4);
        @include shift(1);
      }
      h1 {
        font-size: 1.5em;
      }
    }
  }
}
