section {
  &.row {
    @include grid-container;
  }
  &.blog-entry {
    @include grid-container;
    padding-top: 3em;
    padding-bottom: 3em;
    &.left {
      & > article {
        @include grid-column(9);
        @include grid-shift(1.5);
        @include grid-media($large-screen) {
          @include grid-shift(1);
          @include grid-column(7);
        }
      }
      & > aside {
        @include grid-column(9);
        @include grid-shift(1.5);
        @include grid-media($large-screen) {
          @include grid-shift(0.5);
          @include grid-column(3);
        }
        li {
          border-bottom: 1px solid transparentize($action-color, 0.8);
          margin-right: $base-spacing;
          outline: none;
          padding: ($base-spacing / 2) 0;
          &:last-child {
            margin-bottom: $base-spacing;
          }
          a {
            color: $action-color;
            text-decoration: none;
          }
        }
      }
    }
    &.wide > article {
      @include grid-column(9);
      @include grid-shift(1.5);
    }
  }
  &.blog-entries {
    @include grid-container;
    margin: 0;
    padding-top: 3em;
    padding-bottom: 3em;
    & > article {
      margin-bottom: 2em;
      @include grid-column(8);
      @include grid-shift(1);
      @include grid-media($large-screen) {
        @include grid-shift(1);
        @include grid-column(4);
      }
      h1 {
        font-size: 1.5em;
      }
    }
  }
}
