<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="{{ "/" | relative_url}}" class="logo">
      <img src="{{ "assets/img/logotype-light.png" | relative_url }}" alt="{{ site.title | escape }}">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <span class="fa fa-bars fa-2x" aria-hidden="true" title="Skip to main navigation"><span class="sr-only">Skip to main navigation</span></span>
    </a>
    <nav role="navigation">
      <ul id="menu-primary-menu" class="navigation-menu show">
        <li class="menu-item"><a href="javascript:void(0)">Cloud</a></li>
        <li class="menu-item"><a href="javascript:void(0)">Code</a></li>
        <li class="menu-item"><a href="javascript:void(0)">Design</a></li>
        <li class="menu-item"><a href="javascript:void(0)">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
