---
layout: default
---

{{ content }}

<section class="blog-entries">
  {% for post in site.posts limit:6 %}
    <article class="type-system-geometric">
      {% include post/categories.html %}
      <h1><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h1>
      <p class="date">{{ post.date | date: "%b %-d, %Y" }}</p>
      <p>
        {{ post.excerpt }}
        <a href="{{ post.url | relative_url }}" class="read-more">Read More <span>&rsaquo;</span></a>
      </p>
    </article>
  {% endfor %}
</section>
