// Breakpoints
$medium-screen: (media: 600px);
$large-screen: (media: 900px);

// Typography
$font-stack-paralucent: (
  'paralucent',
  $font-stack-system
);
$font-stack-mono: (
  'PT Mono',
  monospace
);
$base-font-family: $font-stack-system;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 9px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0 !default;
$dark-gray: #333 !default;
$medium-gray: #999 !default;
$light-gray: #ddd !default;
$highlight: #fcb276 !default;
$dark-red: #b0413e !default;
$light-sand: #cabead !default;
$dark-sand: #afa597 !default;
$chocolate: #473335 !default;
$action-color: #477dca !default;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Highlight

// Config -----------------------------------
$syntax-hue:          230;
$syntax-saturation:    1%;
$syntax-brightness:   95%;


// Monochrome -----------------------------------
$mono-1: hsl($syntax-hue, 8%, 24%);
$mono-2: hsl($syntax-hue, 6%, 44%);
$mono-3: hsl($syntax-hue, 4%, 64%);

// Colors -----------------------------------
$hue-1:   hsl(198, 99%, 37%); // <-cyan
$hue-2:   hsl(221, 87%, 60%); // <-blue
$hue-3:   hsl(301, 63%, 40%); // <-purple
$hue-4:   hsl(119, 34%, 47%); // <-green

$hue-5:   hsl(  5, 74%, 59%); // <-red 1
$hue-5-2: hsl(344, 84%, 43%); // <-red 2

$hue-6:   hsl(41, 99%, 30%); // <-orange 1
$hue-6-2: hsl(41, 99%, 38%); // <-orange 2


// Base colors -----------------------------------
$syntax-fg:         $mono-1;
$syntax-bg:         hsl($syntax-hue, $syntax-saturation, $syntax-brightness);
$syntax-caption-bg: hsl($syntax-hue, $syntax-saturation, $syntax-brightness - 5);
$syntax-gutter:     darken($syntax-bg, 36%);
$syntax-guide:      fade($syntax-fg, 20%);
$syntax-accent:     hsl($syntax-hue, 100%, 66% );

// Official Syntax Variables -----------------------------------

// General colors
$syntax-text-color:            $syntax-fg;
$syntax-background-color:      $syntax-bg;
$syntax-cursor-color:          $syntax-accent;
$syntax-selection-color:       lighten($syntax-background-color, 10%);
$syntax-selection-flash-color: $syntax-accent;

// Guide colors
$syntax-wrap-guide-color:          $syntax-guide;
$syntax-indent-guide-color:        $syntax-guide;
$syntax-invisible-character-color: $syntax-guide;

// For find and replace markers
$syntax-result-marker-color:          fade($syntax-accent, 24%);
$syntax-result-marker-color-selected: $syntax-accent;

// Gutter colors
$syntax-gutter-text-color:                $syntax-gutter;
$syntax-gutter-text-color-selected:       $syntax-fg;
$syntax-gutter-background-color:          $syntax-bg; // unused
$syntax-gutter-background-color-selected: lighten($syntax-bg, 2%);

// Git colors - For git diff info. i.e. in the gutter
$syntax-color-renamed:  hsl(208, 100%, 60%);
$syntax-color-added:    hsl(150,  60%, 54%);
$syntax-color-modified: hsl(40,   60%, 70%);
$syntax-color-removed:  hsl(0,    70%, 60%);

// For language entity colors
$syntax-color-variable:   $hue-5;
$syntax-color-constant:   $hue-6;
$syntax-color-property:   $syntax-fg;
$syntax-color-value:      $syntax-fg;
$syntax-color-function:   $hue-2;
$syntax-color-method:     $hue-2;
$syntax-color-class:      $hue-6-2;
$syntax-color-keyword:    $hue-3;
$syntax-color-tag:        $hue-5;
$syntax-color-attribute:  $hue-6;
$syntax-color-import:     $hue-3;
$syntax-color-snippet:    $hue-4;


// Custom Syntax Variables -----------------------------------
// Don't use in packages

$syntax-cursor-line: hsla($syntax-hue, 100%,  80%, .04); // needs to be semi-transparent to show search results

$syntax-deprecated-fg: darken($syntax-color-modified, 50%);
$syntax-deprecated-bg: $syntax-color-modified;
$syntax-illegal-fg:    white;
$syntax-illegal-bg:    $syntax-color-removed;
